
:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VeryLightGray: hsl(0, 0%, 95%);
    --transparent-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "Lexend Deca", "Big Shoulders Display";
    src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'),
        url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
}

body {
    background-color: var(--VeryLightGray);
    margin: 0;
}

.container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns {
    width: 960px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
}

.column1 {
    background-color: var(--BrightOrange);
}

.column2 {
    background-color: var(--DarkCyan);
}

.column3 {
    background-color: var(--VeryDarkCyan);
}

.column__image {
    margin-top: 50px;
    margin-left: 50px;
}

.column__title {
    margin-left: 50px;
}

.title {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.5rem;
    color: var(--VeryLightGray);
}

.column__text {
    padding-left: 50px;
    padding-right: 50px;
}

.text {
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.70rem;
    color: var(--VeryLightGray);
}

.column__button {
    margin-top: 50px;
    margin-left: 50px;
}

.button{
    background-color: var(--transparent-color);
    color: var(--VeryLightGray);
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: solid;
    border-width: 2px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
}

.column1:hover .button {
    color: var(--BrightOrange);
    background-color: var(--VeryLightGray);
}

.column2:hover .button {
    color: var(--DarkCyan);
    background-color: var(--VeryLightGray);
}

.column3:hover .button {
    color: var(--VeryDarkCyan);
    background-color: var(--VeryLightGray);
}

@media only screen and (max-width: 768px) {
    .columns {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .button__column {
        margin-top: 5px;
        margin-bottom: 40px;
    }
}